# Patterns can be composed of '.' and '-'. For example '.-.' means short-long-short.
RAFTHERCAL_TEMPLATES = [
    {
        'pattern': '.',
        'filename': "main.rml",
    },
    {
        'pattern': None,
        'filename': "default.rml",
    },
]
RAFTHERCAL_SERIAL_DEVICE = "/dev/ttyS0"
RAFTHERCAL_BUTTON_PIN = 21
RAFTHERCAL_SIMULATE_PRINTER = False
RAFTHERCAL_PRINT_RML = False
RAFTHERCAL_PLUGIN_CLASSES = [
    'system_plugin.SystemPlugin',
    'calendar_plugin.CalendarPlugin',
    'rafthercal.todo_plugin.TodoPlugin',
    'owner_plugin.OwnerPlugin',
    'image_plugin.ImagePlugin',
]

OWNER_NAME = "Fooman Barguy"
OWNER_BIRTHDAY = "1970-01-01"

CALDAV_SERVERS = [
    {
        'id': 'mailbox',
        'url': "https://dav.mailbox.org/caldav/XXXXXXX",
        'username': "user@mailbox.org",
        'password': "",
    }
]

CALDAV_CALENDARS = [
    {
        'id': 'main',
        'server': 'mailbox',
        'caldav_name': 'Kalender',
        'days': 4,
    }
]

CALDAV_TODOS = [
    {
        'id': 'main',
        'server': 'mailbox',
        'caldav_name': 'Aufgaben',
        'days': 4,
    }
]

IMAGE_URL = "https://www.theweather.com/wimages/foto3c0142c5f2f6287ab38d28f989a419d4.png"
IMAGE_OUTPUT_PATH = "/tmp/weather.png"
#IMAGE_CROP_TOP = 0
#IMAGE_CROP_LEFT = 0
#IMAGE_CROP_RIGHT = 50
#IMAGE_CROP_BOTTOM = 200
#IMAGE_RESIZE_WIDTH = 200
