PLUGIN_CLASSES = [
    'calendar_plugin.CalendarPlugin',
    'owner_plugin.OwnerPlugin',
]

OWNER_NAME = "Fooman Barguy"

CALDAV_URL = "https://dav.mailbox.org/caldav/XXXXXXX"
CALDAV_USERNAME = "user@mailbox.org"
CALDAV_PASSWORD = ""
CALDAV_CALENDAR_NAME = "Kalender"
CALDAV_CALENDAR_DAYS = 4
